/* CSS File for DaftarCOV Website */
/* DaftarCOV is a final year project by Kesavan Osbourne of Open University Malaysia (OUM) */
/* It is an online registration system where users can register for Malaysia's COVID-19 Vaccination Program */

:root {
    font-family: Arial, Helvetica, sans-serif;
}

/* PART 1: MASTHEAD */

.mastHead {
    display: flex;
    margin: 0px 0px;
    box-sizing: border-box;
    align-items: center;
 }

#green {
    background-color: #92D050;
} 

#blue {
    background-color: #00B0F0;
}

/* The masthead appears at the top of every page in this website. */
/* It is light green in the homepage and Vaccine Registration page. */
/* It is light blue in the other pages. */

 .siteName {
     color: white;
     font-size: 35px;
     font-weight: bold;
     padding: 30px 20px;
     margin-right: auto;
     cursor: pointer;
 }
 
 /* The DaftarCOV button will load the following pages when clicked: */
    /* The DaftarCOV homepage if the user is NOT signed in. */
    /* The user's personal details page when the user is signed in. */

.signOut {
    color: white;
    padding: 30px 30px;
    cursor: pointer;
}
/* This is the button users click if they want to sign out. */
/* It does not appear on the homepage and Vaccine Registration page. */ 

/* PART 2: MODALS */

/* PART 3: HOMEPAGE */
/* 1_home.js */

.landingPage {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    column-gap: 30px;
 }
 
 /* This is the main section of the homepage. */
 
.Welcome {
     color: white;
     font-size: 32px;
     padding: 30px 10px;
     text-align: center;
 }
 
 /* Welcome to DaftarCOV! You Can Register for the Malaysian National COVID-19 Immunisation Programme Here! */
 
 .signUpInButtonSection {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }
 /* This invisible box contains the register and sign in buttons. */
 
 .signUpInButtons {
    background-color: #4472C4;
    color: white;
    font-size: 32px;
    font-weight: bolder;
    padding: 30px 10px;
    border-style: none;
    border-radius: 15px;
    margin: 15px 5px;
    cursor: pointer;
 }
 
/* This is the style for the following buttons on the homepage: */
/* Vaccine Register */
/* User Sign In */
/* Admin Sign In (To be removed) */


footer {
    background-color: #595959;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.copyright {
    color: white;
    font-weight: bold;
}

/* PART 4: VACCINE REGISTRATION PAGE / UPDATE ACCOUNT PAGE */
/* 2_sign-up.js */
/* 5_update.js */
/* Most of the selectors here have the word "input" in their names */

.inputSection {
    color: white;
    font-weight: bold;
    height: 10.7cm;
    width: 100%;
    margin: 5px 0px;
}
/* This is the main section of the Vaccine Registration page and Update Account page. */
/* The former is light green (#92D050) */
/* The latter is light blue (#00B0F0) */

.inputTitle {
    text-align: center;
    padding: 30px 10px;
}
/* This is the title of the main section of the Vaccine Registration and Update Account page. */

.inputForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.inputLeft {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* This is the left box containing webforms. */

.inputRight {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* This is the right box containing webforms. */

.inputField {
    display: flex;
    justify-content: space-between;
    margin: 3px 100px;
}
/* This is for the webforms in the main section. */

option {
    text-align: center;
}

.inputButtons {
    font-size: 12px;
    padding: 5px 10px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
/* This is the style for buttons in the main sections of the following pages: */
/* Vaccine Registration Page */
/* Update Account Page */

/* PART 5: PERSONAL/APPOINTMENT DETAILS PAGE */
/* 3_vaccine.js */
/* 4_personal.js */
/* Most of the selectors here have the word "detail" in their names */

.detailSection {
    color: white;
    font-weight: bold;
    height: 10.7cm;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr auto 2fr;
    margin: 10px 0px;
}
/* This is the main section of the personal/appointment details page. */

 .detailTitle {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    padding: 30px 10px;
}
/* This is the title of the main section of the personal/appointment details page. */

.detailLeft {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* This box contains the .detailField elements on the left side. */

.detailRight {
    grid-column: 4 / -1;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* This box contains the .detailField elements on the right side. */

.detailField {
    display: flex;
    justify-content: space-between;
    margin: 3px 100px;
}
/* This element contains one of the many personal/appointment details of the users. */

.detailButtonSection {
    grid-column: 1 / -1;
    grid-row: -2 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* This invisible box contains the following buttons. */
    /* On the Appointment Details Page */
        /* Personal Details */
        /* Postpone Appoinment */
    /* On the Personal Details Page */
        /* Appointment Details */
        /* Update Account */

.detailButtons {
    font-size: 12px;
    padding: 5px 10px;
    border-style: none;
    border-radius: 5px;
    margin: 0px 30px;
    cursor: pointer;
 }